// modules & sections
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

@import "../../node_modules/swiper/src/swiper";

//@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";


@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/head-section";
@import "sections/home-first-screen";
@import "sections/waterfall-section";
@import "sections/footer-section";
@import "sections/about-top-section";
@import "sections/about-content-section";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}

.container {
  position: relative;
}

h3 {
  font-size: 18px;
  font-family: $light;
  text-transform: uppercase;
  color: #000;
}

p {
  font-family: $regular;
  font-size: 14px;
  color: #9b9b9b;
}

.btn-load-more {
  position: absolute;
  bottom: 72px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
  width: 125px;
  height: 30px;
  color: #ffffff;
  font-size: 13px;
  font-family: $bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #949494;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: black;
  }
}

.top-bg {
  position: relative;
  background-repeat: no-repeat;
}



