.main_top-slide {
  background-image: url(../../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: center -90px;
  height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  p {
    font-size: 18px;
    font-family: $light;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
}
.cont {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p.title {
  display: inline-block;
  padding: 10px 40px;
  background-color: black;
  color: white;
  font-size: 48px;
  margin-bottom: 48px;
  letter-spacing: 4px;
}

button.slick-prev, button.slick-next {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: 1px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
  .fas {
    font-size: 12px;
  }
  &:before {
    content: '';
    width: 13px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
  }
  &:hover, &:active {
    background-color: black;
    border: none;
  }
}
button.slick-prev {
  left: 20px;
  &:before {
    background-image: url(../../images/sprite/arr-l.png);
    margin-left: 11px;
  }
}
button.slick-next {
  right: 20px;
  &:before {
    content: '';
    background-image: url(../../images/sprite/arr-r.png);
    margin-left: 17px;
  }
}
ul.slick-dots {
  bottom: 56px;
  li {
    padding: 0 8px;
    button {
      width: 10px;
      height: 10px;
      background-color: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid white;
      &:before {
        content: '';
      }
    }
  }
  li.slick-active {
    button {
      border: 5px solid black;
    }
  }
}




//media
@media (max-width: 768px) {
  .main_top-slide {
    background-position: -800px center;
    p {
      font-size: 14px;
    }
  }
  p.title {
    padding: 10px 30px;
    font-size: 38px;
    margin-bottom: 30px;
  }
}
@media (max-width: 578px) {
  .main_top-slide {
    background-position: right center;
    p {
      font-size: 10px;
    }
  }
  p.title {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .main_top-slide {
    background-position: right center;
    p {
      font-size: 8px;
    }
  }
  p.title {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
}
